.p-1.flex.items-center.bg-gray-100.rounded-md
  = button_to '-', '', title: 'Уменьшить', data: { reflex: "click->PriceReflex#update_price", cart_item_id: @cart_item.id, down: true }, class: 'w-6 h-6 flex items-center justify-center active:bg-gray-300 rounded'
  .w-6.h-6.flex.items-center.justify-center.font-bold.text-base.leading-6 = @cart_item.quantity
  = button_to '+', '', title: 'Увеличить', data: { reflex: "click->PriceReflex#update_price", cart_item_id: @cart_item.id, up: true }, class: 'w-6 h-6 flex items-center justify-center active:bg-gray-300 rounded'