$primary-color: #10cdb7;
$secondary-color: #0f7bbe;

@import "tailwindcss";

body {
  @apply font-sans;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  .header {
    border-bottom: 1px solid rgba(236, 239, 244, 1);
  }

  button {
    cursor: pointer;
  }

  .empty-cart:hover {
    @apply text-red-500;
  }

  .btn-del:hover {
    path {
      fill: #F02E36FF;
    }
  }

  a:hover {
    color: $secondary-color;
  }

  .btn {
    @apply px-4 py-2 bg-teal-400 text-white active:bg-teal-600 cursor-pointer border-0 outline-0 rounded-md;
  }

  label {
    --l: 4px;  /* line thickness*/
    --s: 38px; /* thumb size*/
    timeline-scope: --thumb-view;
    position: relative;
  }

  input[type="range"] {
    @apply w-full;
    height: var(--s); /* needed for Firefox*/
    --_c: color-mix(in srgb, #10cdb7, #0a9185 0%);
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
  }
  /* chromium */
  input[type="range" i]::-webkit-slider-thumb{
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg,var(--_c) 50%, #dedede 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
    -webkit-appearance: none;
    background: #10cdb7;
    appearance: none;
    anchor-name: --thumb;
    view-timeline: --thumb-view inline;
  }
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 36px;
    width: var(--s);
    border-radius: 50%;
    box-shadow: 0 0 0 var(var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
    -moz-appearance: none;
    background: #10cdb7;
    appearance: none;
    anchor-name: --thumb;
    view-timeline: --thumb-view inline;
  }
}